
.icon-close:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-arrow-left:before { content: '\e805'; } /* '' */
.icon-arrow-right:before { content: '\e806'; } /* '' */
.icon-grid:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e808'; } /* '' */
