header {
  padding-top: 6px;
  padding-bottom: 28px;
  background-color: rgba(255, 255, 255, 0.67);
  box-shadow: 0 4px 24px rgba(0,0,0,0.12),
              inset 0 12px 24px rgba(0,0,0,0.12);


  .logo {
    max-width: 138px;
  }

  .cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 86px;
    @media (max-width: 1023px) {
      gap: 10px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header-content {
      margin-top: 1.95vw;
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 16px;

      > div {
        &:nth-of-type(1) {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
          @media (max-width: 479px) {
            flex-wrap: wrap;
            row-gap: 7px;
          }
        }
        &:nth-of-type(2) {
          margin-top: 18px;
          ul {
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
              @media (max-width: 479px) {
                font-size: 13px;
              }
              span {
                font-weight: 700;
              }
              &:nth-of-type(1) {
                margin-right: 28px;
              }
              &:nth-of-type(2) {
                margin-right: 17px;
              }
            }
          }
        }
        &:nth-of-type(3) {
          margin-top: 19px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 11px;
          @media (max-width: 479px) {
            flex-direction: column;
            align-items: start;
          }

          > div {
            display: flex;
            flex-direction: row;
            gap: 22px;
            @media (max-width: 479px) {
              flex-direction: column;
              gap: 7px;
            }
          }

          .flatpickr {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            gap: 0;

            input {
              border-right: none;
              border-radius: 4px 0 0 4px;
            }

            > a {
              cursor: pointer;
              padding: 6px 3px 4px 4px;
              max-height: 28px;
              color: $input-btn-color;
              background-color: $input-btn-bg-color;
              border: 1px solid $input-bd-color;
              transition: 0.3s all ease;
              &:hover,
              &:focus {
                color: $white;
                background-color: $accent;
              }
              i {
                margin: 0;
                padding: 0;
                font-size: 13px;
              }

              &:nth-of-type(2) {
                padding: 2px 0 1px;
                border-radius: 0 4px 4px 0;

                i {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}