$font: "Montserrat", sans-serif;
$font2: "Roboto", sans-serif;

$white: #ffffff;
$title: #000000;
$list: #000000;
$accent: #3D8EDA;
$input-bd-color: #DEDEDE;
$input-btn-color: #5F5F5F;
$input-btn-bg-color: #EBEBEB;
$datepicker-bd-color: #D2D1D2;
$mode-btn-color: #C8C7C7;
$btn-alt: #929292;

:root {
  --btn-fz: 13px;
  --block-pd: 61px;
  --cont-pd: 20px;
}